:root {
    --primary-color: #07f;
    --accent-color: rgba(0, 0, 255, 0.2);
    --accent-color-dark: rgba(0, 103, 165, 1);
    --dark-color: rgba(0, 0, 255, 0.6);
    --dark-color-alt: rgba(156, 160, 165, 1);
    --medium-color: #bbb;
    --light-color: #eee;
    --page-color: #fafafa;
    --soft-color: rgba(221, 214, 212, 1);
    --margin-xxl: 3rem;
    --margin-xl: 2rem;
    --margin-lg: 1rem;
    --margin-med: 0.66rem;
    --margin-sm: 0.33rem;
    --base-font-size: 16pt;
    --border-radius: 6px;
    --rounded-radius: 4rem;
    --padding-xxl: 2rem;
    --padding-xl: 1.4rem;
    --padding-lg: 1rem;
    --padding-med: 0.66rem;
    --padding-sm: 0.33rem;
    --font: Trebuchet MS;
}

body {
    font-size: calc(1rem + 1vw);
    background: var(--page-color);
    margin: 0px;
    font-family: var(--font);
    padding: 0 !important;
    padding: 90px 0 32px 0;
    width: 100%;
    height: 100%;
}

p,
ol li,
ul li {
    font-size: calc(0.8rem + 1vw);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}


/* -- ELEMENTS -- */

.hero {
    background: var(--dark-color);
    color: white;
    padding: calc(1rem + 8vh) calc(1rem + 3vw) calc(3rem + 10vh) calc(1rem + 3vw);
}

h4 {
    font-size: calc(1rem + 1.5vw);
    color: var(--accent-color-dark);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content-box {
    display: grid;
    padding: 1px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.border {
    border: 0.2rem;
    border-radius: 0.5rem;
    background: var(--medium-color);
}

p {
    font-size: calc(0.5rem + 1vw);
    background: var(--page-color);
    margin: 0px;
    font-family: var(--font);
    padding: 0 !important;
    padding: 90px 0 32px 0;
    width: 100%;
    height: 100%;
}

h2,
h3,
h4,
h5,
h6,
footer {
    padding: var(--padding-lg);
    margin: var(--margin-med) auto;
    width: 100%;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #00008B;
    padding: 10px;
}

.smaller {
    font-size: calc(0.5rem + 1vw);
    font-family: var(--font);
    width: 100%;
    height: 100%;
}


/* horizontal line with text label */

.separator {
    font-size: calc(1rem + 1vw);
    color: var(--accent-color);
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    margin: calc(2rem + 3vw) auto;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--dark-color);
}

.separator::before {
    margin-right: 1rem;
}

.separator::after {
    margin-left: 1rem;
}

.margin-top-xl {
    margin-top: var(--margin-xl);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 70%;
    font-size: calc(0.5rem + 1vw);
}

table th {
    background: var(--dark-color-alt);
    color: #fafafa;
}

table th,
table td {
    margin: 0px;
    text-align: left;
    border: 1px solid var(--dark-color);
}

table tr:nth-child(odd) {
    background-color: var(--light-color);
}