:root {
    --primary-color: #07f;
    --accent-color: rgba(0, 0, 255, 0.2);
    --accent-color-dark: rgba(0, 103, 165, 1);
    --dark-color: rgba(0, 0, 255, 0.6);
    --dark-color-alt: rgba(156, 160, 165, 1);
    --medium-color: #bbb;
    --light-color: #eee;
    --page-color: #fafafa;
    --soft-color: rgba(221, 214, 212, 1);
    --margin-xxl: 3rem;
    --margin-xl: 2rem;
    --margin-lg: 1rem;
    --margin-med: 0.66rem;
    --margin-sm: 0.33rem;
    --base-font-size: 16pt;
    --border-radius: 6px;
    --rounded-radius: 4rem;
    --padding-xxl: 2rem;
    --padding-xl: 1.4rem;
    --padding-lg: 1rem;
    --padding-med: 0.66rem;
    --padding-sm: 0.33rem;
    --font: Trebuchet MS;
}

body {
    font-size: calc(1rem + 1vw);
    background: var(--page-color);
    margin: 0px;
    font-family: var(--font);
    padding: 0 !important;
    padding: 90px 0 32px 0;
    width: 100%;
    height: 100%;
}

p,
ol li,
ul li {
    font-size: calc(0.8rem + 1vw);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}


/* -- ELEMENTS -- */

.hero {
    background: var(--dark-color);
    color: white;
    padding: calc(1rem + 8vh) calc(1rem + 3vw) calc(3rem + 10vh) calc(1rem + 3vw);
}

h4 {
    font-size: calc(1rem + 1.5vw);
    color: var(--accent-color-dark);
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content-box {
    display: grid;
    padding: 1px;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.border {
    border: 0.2rem;
    border-radius: 0.5rem;
    background: var(--medium-color);
}

p {
    font-size: calc(0.5rem + 1vw);
    background: var(--page-color);
    margin: 0px;
    font-family: var(--font);
    padding: 0 !important;
    padding: 90px 0 32px 0;
    width: 100%;
    height: 100%;
}

h2,
h3,
h4,
h5,
footer {
    padding: var(--padding-lg);
    margin: var(--margin-med) auto;
    width: 100%;
}

.extra-small {
    font-size: calc(0.1rem + 0.5vw);
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #00008B;
    padding: 10px;
}

.smaller {
    font-size: calc(0.4rem + 1vw);
    font-family: var(--font);
    width: 100%;
    height: 100%;
}


/* horizontal line with text label */

.separator {
    font-size: calc(1rem + 1vw);
    color: var(--accent-color);
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    margin: calc(2rem + 3vw) auto;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--dark-color);
}

.separator::before {
    margin-right: 1rem;
}

.separator::after {
    margin-left: 1rem;
}

.margin-top-xl {
    margin-top: var(--margin-xl);
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 70%;
    font-size: calc(0.5rem + 1vw);
}

table th {
    background: var(--dark-color-alt);
    color: #fafafa;
}

table th,
table td {
    margin: 0px;
    text-align: left;
    border: 1px solid var(--dark-color);
}

table tr:nth-child(odd) {
    background-color: var(--light-color);
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: #333;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}


/* Site Banner Section */

.site-banner {
    background-color: #ffffff;
}


/* Main Menu Section */

.main-menu {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
}

.navbar-collapse {
    padding: 0px;
}

.menu-logo {
    display: none;
}

.navbar-toggle:focus {
    border: none;
    outline: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
    color: #3498db;
}

.navbar-nav>li>a {
    border-right: 1px solid #e9e9e9;
    color: #6f7678;
    display: inline-block;
    font-size: .875em;
    padding: 25px;
    text-transform: capitalize;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu-list .active a {
    color: #3498db;
}

.menu-list li:first-child a {
    border-left: 1px solid #e9e9e9;
}

.menu-search {
    border-right: 1px solid #e9e9e9;
    padding-right: 20px;
}

.search-form {
    font-size: .875em;
    position: relative;
    padding-top: 15px;
}

.search-field {
    border: 1px solid #e9e9e9;
    padding: 10px 15px;
    width: 300px;
}

.search-btn {
    background-color: transparent;
    color: #3498db;
    position: absolute;
    right: 2px;
    top: 19px;
}

.header-fixed-top header.sticky {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation-duration: 0.45s;
    -moz-animation-duration: 0.45s;
    -ms-animation-duration: 0.45s;
    -o-animation-duration: 0.45s;
    animation-duration: 0.45s;
}


/* Main Slider Section */

.carousel-caption {
    left: 0;
    padding-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    bottom: 5px;
    padding-top: 10%;
}

.slider-icon {
    color: #ffffff;
    font-size: 4em;
}

.carousel-title {
    font-size: 4em;
}

.main-slider span {
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin: 15px 0px;
    font-weight: 800;
}

.main-slider .btn {
    background-color: #ffffff;
    color: #3498db;
    margin-top: 30px;
    padding: 10px 15px;
    text-transform: capitalize;
}

.main-slider .btn:hover {
    background-color: #3498db;
    color: #ffffff;
}

.main-slider .carousel-control.right,
.main-slider .carousel-control.left {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    top: 50%;
    margin-top: -25px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.main-slider .carousel-control.right {
    right: -10%;
}

.main-slider .carousel-control.left {
    left: -10%;
}

.main-slider:hover .carousel-control.right {
    right: 0%;
}

.main-slider:hover .carousel-control.left {
    left: 0%;
}

.main-slider .carousel-control:hover {
    color: #3498db;
}


/* Main Menu Section */

.main-menu {
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
}

.navbar-collapse {
    padding: 0px;
}

.menu-logo {
    display: none;
}

.navbar-toggle:focus {
    border: none;
    outline: 0;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
    color: #3498db;
}

.navbar-nav>li>a {
    border-right: 1px solid #e9e9e9;
    color: #6f7678;
    display: inline-block;
    font-size: .875em;
    padding: 25px;
    text-transform: capitalize;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu-list .active a {
    color: #3498db;
}

.menu-list li:first-child a {
    border-left: 1px solid #e9e9e9;
}

.menu-search {
    border-right: 1px solid #e9e9e9;
    padding-right: 20px;
}

.search-form {
    font-size: .875em;
    position: relative;
    padding-top: 15px;
}

.search-field {
    border: 1px solid #e9e9e9;
    padding: 10px 15px;
    width: 300px;
}

.search-btn {
    background-color: transparent;
    color: #3498db;
    position: absolute;
    right: 2px;
    top: 19px;
}

.header-fixed-top header.sticky {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation-duration: 0.45s;
    -moz-animation-duration: 0.45s;
    -ms-animation-duration: 0.45s;
    -o-animation-duration: 0.45s;
    animation-duration: 0.45s;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    visibility: hidden;
    font-size: calc(0.5rem + 1vw);
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
    top: -5px;
    left: 105%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    visibility: hidden;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    visibility: visible;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}