<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140b Project</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<body>

    <div class='hero center'>
        <h1> Wearable Health assitant </h1>
        <h2>Shixuan Wu</h2>

    </div>
    <br>
    <p>Description (Tentative):
    </p>
    <p>Stay Awake is an App on phones and smartwatches that helps drivers detect driving fatigue and alarm them to prevent car accidents happening. Stay Awake utilizes phone embedded camera and optional smartwatches’ biosensor data to detect driving fatigue
        in multiple approaches including basic eye closeness detection and distraction detection based on computer vision and heart attack, high blood pressure flow based on optional biosensor on smartwatches. Stay Awake also records data of the drivers
        under the consent of cooperating companies to further protect the drivers and maximize the efficiency and safety of drivers. The major unfair advantage is our cheap price compared to any existing IoT-based camera mount solution because we don’t
        require extra hardware to experience the product.

    </p>

    <br>
    <br>


    <div class='separator'>Database Records</div>

    <table class='margin-top-xl center'>
        <thead>
            <tr>
                <th class='small'> First Name </th>
                <th class='medium'> Last Name </th>
                <th class='large'> Position </th>
                <th class='large'> Description </th>
            </tr>
        </thead>
        <tbody class="smaller">
            {% for user in users %}
            <tr>
                <td> {{user[0]}} </td>
                <td> {{user[1]}} </td>
                <td> {{user[2]}} </td>
                <td> {{user[3]}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <h4> About Our Team</h4>

    <div class='content-box'>

        <div class='border'>
            <div class='center'>Shixuan Wu</div>
            <div class='smaller'>Product manager: manages the product strategy, vision and development.</div>
        </div>

        <div class='border'>
            <div class='center'>Xunhao Yang</div>
            <div class='smaller'>Business development manager: finds ways to grow your business from both a marketing and sales standpoint.</div>
        </div>



        <div class='border'>
            <div class='center'>Gaopo Huang</div>
            <div class='smaller'>Technology manager (software): member who specializes in technology and development</div>
        </div>
        <div class='border'>
            <div class='center'>Junzhe Luo</div>
            <div class='smaller'>Technology manager (hardware): member who specializes in technology and development</div>
        </div>
    </div>


    <br>
    <br>

    <h4> Product Vision</h4>

    <div class='content-box'>

        <div class='border'>
            <div class='center'>Sensor 1</div>
            <div class='smaller'>detect blood pressure</div>
        </div>

        <div class='border'>
            <div class='center'>Sensor 2</div>
            <div class='smaller'>Detect pressure to identify hit</div>
        </div>
        <div class='border'>
            <div class='center'>Sensor 3</div>
            <div class='smaller'>Detect blood saturation</div>
        </div>
        <div class='border'>
            <div class='center'>Sensor 4</div>
            <div class='smaller'>Detect heart rate</div>
        </div>
    </div>

    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>