<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's KVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Key Value Propositions</h2>

    </div>
    <br>
    <p>A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per
        day.
    </p>
    <br>
    <br>


    <div class='separator'>Details</div>



    <h3 class='center'>
        <p>Our PillCare</p>
        <p>helps family members</p>
        <p>who have elders in the family and want to take care their medication</p>
        <p>by saying no to the cold machine voice alarm </p>
        <p>and saying yes to the low-cost alarms recorded by their beloved family members</p>
        <p>unlike CVS’s App, Scrip Talk, and Hero</p>
    </h3>

    </div>


    <br>
    <br>

    <div class='separator'>Why us?</div>

    <img src="/image/competitor.jpg">
    <p>
        <ol class="extra-small">
            <li>Compared to CVS’s App that needs to use App’s scan functionality, which might be troubling for elders who are not good at using phones, Pill Care allows the elders to simply put the pill bottle on the Pill Care to get information. </li>
            <li>Compared to Scrip Talk that is set by physicians, Pill Care allows family members to set up, customizing voices and records that elders are more comfortable with. Also, not all pharmacies support Scrip Talk.
            </li>
            <li>Compared to Hero, which does a good job of simplifying product usage process and auto pill dispensing, its one problem is its high price of the machine (100$) and monthly subscription fee (25$). Pill Care offers no subscription fee and now
                estimates a price lower than 50$.</li>
        </ol>
    </p>






    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>