<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's MVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Key Value Propositions</h2>

    </div>
    <br>
    <p>A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per
        day.
    </p>
    <br>
    <br>


    <div class='separator'>Details</div>








    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>