<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's MVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Minimum Viable Product</h2>

    </div>
    <br>
    <p>A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per
        day.
    </p>
    <br>
    <br>


    <div class='separator'>Features vs Benefits</div>


    <table class='margin-top-xl center'>
        <thead>
            <tr>
                <th class='small'> FEATURES </th>
                <th class='medium'> BENEFITS </th>
                <th class='large'> Benefitted Users & Reason </th>

            </tr>
        </thead>
        <tbody class="smaller">

            <tr>
                <td> Voice Recording </td>
                <td> Set up personal voice reminder for pill taking </td>
                <td> The elders in the family who don't have enough opportunities to bond with their children and grandchildren can interact with their voice via these recordings.</td>

            </tr>


            <tr>
                <td> RFID reader and sticker on each pill bottle </td>
                <td> Scan each bottle to find the correct pill bottle to take</td>
                <td> The vision-impaired elders can easily find their pill bottle to take without making the effort to read the instructions of each bottle, which can be an extremely cumbersome task especially when the font is small.</td>

            </tr>
            <tr>
                <td> Daily alarm through speaker</td>
                <td> Remind users to take pills on time and never miss their requirement </td>
                <td>The elders who have hazy memories and tend to forget to take their pills on time. Forgetting to take pills can cause severe consequences and we make sure that they are notified to prevent it.</td>

            </tr>
            <tr>
                <td> OLED Display </td>
                <td> Set up and check the current medication schedule easily </td>
                <td> Customers who set up the medication schedule for elders can easily do so and verify the current schedule via UIs on the OLED display </td>

            </tr>
            <tr>
                <td> Voice when pills are taken as scheduled</td>
                <td> Give users the incentive to take scheduled mandatory medication</td>
                <td> Elders who are stubborn to take medicines are benefited for their own health if the appeal of hearing and interacting with their childrens’ voice motivates them to take medicines </td>

            </tr>

        </tbody>
    </table>


    <br>
    <br>


    <div class='separator'>Product Interaction</div>

    <p>
        <ol class="extra-small">
            <li>Users can take each pill bottle with their RFID sticker attached to it to the RFID scanner on the Pill Care device for setting up and verifying pills to take. This interaction gives users a straightforward way to identify each bottle, and
                especially for those elders, this interaction allows them to take correct pills at a given time without reading pill bottle instructions, which can be proven to be a demanding task. </li>
            <br>
            <li>Users can record their voice and hear their own recording playback at the scheduled time. This voice interaction allows the product to pass personal messages between users’ families and makes elders in the family feel cared and bonded with
                their children and grandchildren.
            </li>
            <br>
            <li>Users can set up, edit, and review their medication schedule via an OLED display and keypad interaction. There are context descriptions on an OLED display at each page and status of the process for users to monitor their progress.
            </li>
            <br>
            <li>Users can set up behavioral interaction via the form of voice recording. When a pill is taken by the user, a pre-recorded voice will be played to reward the user. This interaction can incentivize the users to take pills on time for their own
                health. </li>
        </ol>
    </p>
    <br>
    <br>



    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>