<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's MVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a href="revenue">Revenue Model</a>
            <span class="tooltiptext">Visit Revenue Model Page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="pivot">Pivoting</a>
            <span class="tooltiptext">Visit pivoting page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>

    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Pivoting Page</h2>

    </div>
    <br>
    <p> This page describes the pivots that we have already undertaken throughout the quarter, any pivots that we plan on doing now, and any pivots we believe would be necessary going forward if we are to continue to work on our startup after ECE 140B.A pivot
        means fundamentally changing the direction of a business when you realize the current products or services aren't meeting the needs of the market. The main goal of a pivot is to help a company improve revenue or survive in the market, but the
        way you pivot your business can make all the difference. </p>
    <br>
    <br>


    <div class='separator'>Pivots We Took</div>
    <br>

    <h4 class='center'>Customer-Need Pivot</h4>
    <br>
    <div class='smaller margin center '>&nbsp;&nbsp;We still focus on elders but we find that elders taking pills on time is a more serious and clear problem compared to wearable watches that detect unprecedented falling. The need is larger and more inevitable, and the customer is easier
        to accept the product of pill-taking reminders compared to a watch that requires constant wearing with a GPS location feature.

    </div>
    <div class='smaller margin center '>Original: Wearable Watch that detects falling for elders

    </div>
    <div class=' smaller margin center '>Now: a box that reminds elders to take pills on time with the correct dosage with the care of family members.

    </div>
    <div class=' separator '>Pivots in Future</div>

    <h4 class='center '>Zoom-out Pivot</h4>
    <br>
    <div class='smaller margin center '>Now: a box that reminds elders to take pills on time with the correct dosage with the care of family members.
    </div>
    <div class='smaller margin center '>Future: Auto pill dispenser that will not only remind elders to take pills on time with the correct dosage but also display family members’ messages and photos they upload for elders when taking pills on time. </div>
    <br>
    <br>


    <hr style="border-style: dotted;" />

    <br>

    <h4 class='center '>Business Architecture Pivot</h4>
    <br>
    <div class='smaller margin center '>Now: we sell our product directly to the customers (B2C) for those who want a reliable and caring pill reminder for the elders in the family. </div>
    <div class='smaller margin center '>Future: we will shift to B2B: we will sell our product to major pharmaceutical companies, such as CVS and Walgreens. As B2B strategies have a higher volume in sales, this is beneficial for business development and brand foundation. <br>
        <br>

        <br>
        <br>
        <footer class='right '>
            <p>Author: Shixuan Wu</p>
            <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
        </footer>
        <br>
        <br>
</body>

</html>