<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>ECE140b Project: Pill Care</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>
<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
    </div>

    <div class='hero center'>
        <h1> Pill Care</h1>
        <h2>Shixuan Wu</h2>

    </div>
    <br>
    <p>Description (Tentative):
    </p>
    <p>A pill-taking reminder consists of multiple stickers and a box. Family members can help the patients set up the alarm by recording their voices and sticking the sticker to the bottom of the pill bottle. They also need to set up the alarm time per
        day.


    </p>
    <p>
        During the time the user needs to take pills, the alarm will sound indicating which sticker/pills they need to take with the pre-recorded sounds from their family members/physicians. The user then can take the bottle next to the reminder, if it’s the
        correct one, the reminder will state that it's correct and the amount the user should take each time; if it's not, the reminder will ask the user to try another bottle.

    </p>



    <br>
    <br>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#top">Back to top of page</a>
        <a href="#customer">Target Customers</a>
        <a href="#purpose">What it does?</a>
        <a href="#process">How it work?</a>
        <a href="#map">Empathy Map</a>
        <a href="#team">About our team</a>
    </div>
    <a name="top"></a>
    <div id="main">

        <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Open Menu</span>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
    <br>
    <br>
    <a name="customer"></a>
    <div class='separator'>Target Customers</div>

    <div>


        <h5>Family members who</h5>
        <ul>
            <li>have elders with vision or hearing problems and need to take pills frequently; </li>
            <li>care a lot for their families; </li>
            <li>Can’t be around the elders 24/7.</li>
        </ul>
    </div>
    <br>
    <br>

    <a name="purpose"></a>
    <div class='separator'>What it does?</div>
    <p>During the time the user needs to take pills, the alarm will sound indicating which sticker/pills they need to take with the pre-recorded sounds from their family members/physicians. The user then can take the bottle next to the reminder, if it’s
        the correct one, the reminder will state that it's correct and the amount the user should take each time; if it's not, the reminder will ask the user to try another bottle.
    </p>
    <br>
    <br>
    <a name="process"></a>
    <div class='separator'>How it work?</div>
    <div class='content-box'>

        <div class='border'>
            <div class='center'>Set up Stage</div>
            <img src="/image/set-up.jpg">
        </div>

        <div class='border'>
            <div class='center'>Use Stage</div>
            <img src="/image/use-stage.jpg">
        </div>


    </div>


    <a name="benefit"></a>
    <div class='separator'>Key Benefit</div>

    <div class='content-box'>

        <div class='border'>
            <div class='center'>Alarm</div>
            <div class='smaller'> the alarm will sound indicating which sticker/pills they need to take with the pre-recorded sounds from their family members/physicians.</div>
        </div>

        <div class='border'>
            <div class='center'>Screen</div>
            <div class='smaller'>screen that can be attached to the Pill Care to display large font text for hearing-impaired elders</div>
        </div>
        <div class='border'>
            <div class='center'>App</div>
            <div class='smaller'>app which sends notification to the user and the family whether pills need to be taken, and when the pills are taken by the patient.</div>
        </div>
        <div class='border'>
            <div class='center'>Customerized Voice recorder</div>
            <div class='smaller'>Voice of your family memeber will be the reminders which will state that it's correct and the amount the user should take each time; if it's not, the reminder will ask the user to try another bottle. </div>
        </div>
    </div>
    <br>
    <br>
    <div class='separator'>"Mock-Up" of Our UI</div>
    <br>
    <div class='smaller margin'>&nbsp;&nbsp;This is a low resolution mock-up of out product User Interface. I draw the phyical product to show how we use each component of hardware and for which purpose.
    </div>
    <div class='content-box'>
        <img src="/image/mock-set.jpg">
        <img src="/image/mock-use.jpg">
    </div>

    <br>
    <br>

    <a name="map"></a>
    <div class='separator'>Empathy Map</div>


    <div>

        <div class='center'>For Customer</div>
        <img src="/image/CustomerMap.jpg" style="
        max-width: 100%;
      height: auto;
        border: solid 1px #CCC" />
    </div>
    <br>
    <br>
    <div>
        <div class='center'>For User</div>
        <img src="/image/UserMap.jpg" style="
        max-width: 100%;
      height: auto;
        border: solid 1px #CCC" />
    </div>
    <p>Our customer are not always user. Our targeted customers are the family members who have elders in their family,while the users are the elders in the family.

    </p>
    <p>Therefore, we create two separate empathy maps.
    </p>

    <br>
    <br>
    <a name="team"></a>
    <div class='separator'>About Our Team</div>

    <table class='margin-top-xl center'>
        <thead>
            <tr>
                <th class='small'> First Name </th>
                <th class='medium'> Last Name </th>
                <th class='large'> Position </th>
                <th class='large'> Description </th>
            </tr>
        </thead>
        <tbody class="smaller">
            {% for user in users %}
            <tr>
                <td> {{user[0]}} </td>
                <td> {{user[1]}} </td>
                <td> {{user[2]}} </td>
                <td> {{user[3]}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>




    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>