<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's MVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="revenue">Revenue Model</a>
            <span class="tooltiptext">Visit Revenue Model Page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>
        <div class="tooltip just_right">
            <a href="source">Reference</a>
            <span class="tooltiptext">Visit Reference page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Revenue Model</h2>

    </div>
    <br>
    <p>The product cost is not based on MVP product but our final product envision: a pill taking reminder for hearing or vision impaired elders and the product is set up with their family members’ recorded voice.
    </p>
    <br>
    <br>


    <div class='separator'>Cost Table</div>


    <table class='margin-top-xl center'>
        <caption style="text-align:center">Production cost</caption>
        <tr>
            <td>Component Name</td>
            <td></td>
            <td>Cost/unit</td>
        </tr>
        <tr>
            <td>PCB Board</td>
            <td></td>
            <td>$1.30 </td>
        </tr>
        <tr>
            <td>Sensor</td>
            <td>RFID</td>
            <td>$2 </td>
        </tr>
        <tr>
            <td></td>
            <td>WIFI</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>RFID sticker (ct. 10 per product)</td>
            <td></td>
        </tr>
        <tr>
            <td>Battery (LiPo 2000mAh 3.7v)</td>
            <td></td>
            <td>$2.80 </td>
        </tr>
        <tr>
            <td>Charger</td>
            <td></td>
            <td>$3 </td>
        </tr>
        <tr>
            <td>Container / Case</td>
            <td></td>
            <td>$1 </td>
        </tr>
        <tr>
            <td>Factory Assembly Fee</td>
            <td></td>
            <td>$0.50 </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>Total cost per unit:</td>
            <td></td>
            <td>$10.60 </td>
        </tr>
        <tr>
            <td>*All product estimation are calculated based on 1,000 unit wholesale price</td>
        </tr>
        <tr>
            <td>Assuming 1,000 pieces sell out in the first year, total cost per year: 10,600 USD
            </td>
        </tr>
    </table>


    <br>
    <br>
    <table class='margin-top-xl center'>
        <caption style="text-align:center">Operation flexible cost</caption>
        <tr>

            <td>Service Type</td>
            <td></td>
            <td>Cost</td>
        </tr>
        <tr>
            <td>Customer service</td>
            <td></td>
            <td>8 USD/hour</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>~=13,348 USD/year</td>
        </tr>
        <tr>
            <td>Server fee</td>
            <td></td>
            <td>200 USD/month</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>~= 2,400 USD/year</td>
        </tr>
        <tr>
            <td>Software maintenance&amp;update team</td>
            <td></td>
            <td>Self-employed</td>
        </tr>
        <tr>
            <td>Advertising&amp;sales team</td>
            <td></td>
            <td>5000 USD/year</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Total cost per year:</td>
            <td></td>
            <td>20,748 USD</td>
        </tr>
    </table>
    <br>
    <a href="source">Here is the Reference for the costs.</a>
    <br>

    <div class='separator'>Revenue Section</div>

    <table class='margin-top-xl center'>

        <tr>
            <td>Channel </td>
            <td></td>
            <td>Shares of sale(%)</td>
        </tr>
        <tr>
            <td>Direct online retail platform</td>
            <td></td>
            <td>30</td>
        </tr>
        <tr>
            <td></td>
            <td>Amazon</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Aliexpress</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Ad-based attraction</td>
            <td></td>
            <td>50</td>
        </tr>
        <tr>
            <td></td>
            <td>Short video platform (TikTok)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Social medias (instagram, twitter)</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Google Ads</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>(Ad-based sales goes to online retail platform for purchasing)</td>
            <td></td>
        </tr>
        <tr>
            <td> </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Local pharmacy retail</td>
            <td></td>
            <td>20</td>
        </tr>
        <tr>
            <td></td>
            <td>CVS</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Walgreens</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sales (one-time fee): </td>
            <td></td>
            <td>50 USD/unit</td>
        </tr>
        <tr>
            <td>Subscription fee (only for upgraded functionality):</td>
            <td></td>
            <td> 12 USD/month</td>
        </tr>

    </table>
    <caption style="text-align:center">Assuming we sale 1,000 unit in the first year, revenue for one-time sales is 50,000 USD <br>Assuming 30% of the customer choose to update in cost for a subscription fee: 43,200 USD <br>Total revenue in a year: 93,200 USD <br>Total cost in a year:
        20,748 USD
        <br>Total profit in a year: 72,452 USD Profit rate: 349% </caption>
    <br>
    <br>



    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>