<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's MVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
        <div class="tooltip">
            <a href="mvp">MVP</a>
            <span class="tooltiptext">Visit MVP page</span>
        </div>
        <div class="tooltip">
            <a href="revenue">Revenue Model</a>
            <span class="tooltiptext">Visit Revenue Model Page</span>
        </div>
        <div class="tooltip">
            <a href="ui_example">UI Example</a>
            <span class="tooltiptext">Visit UI example page</span>
        </div>
        <div class="tooltip just_right">
            <a class="active" href="source">Reference</a>
            <span class="tooltiptext">Visit Reference page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Pill Care's </h2>
        <h2>Reference Page</h2>

    </div>
    <br>
    <p> This are the references where we get the actual costs to support our revenue model.
    </p>
    <br>
    <br>


    <div class='separator'>Links related to material costs</div>

    <a href="https://pcbshopper.com/">PCB board price&assembly reference</a>

    <br>
    <a href="https://vatsbattery.en.made-in-china.com/product/AdJEGfKOJLhi/China-Factory-Best-Price-Lithium-Polymer-Battery-Lipo-Cell-3-7V-103450-2000mAh-Lipo-Battery-for-Wireless-Tracker-with-UL-Kc-CE-CB.html">Battery estimation reference </a>

    <br>
    <a href="https://www.sourcengine.com/part-info/RF37S114HTFJB-8200175239?utm_source=audiencex&utm_medium=paidsearch&utm_campaign=shopping&gclid=Cj0KCQjwvqeUBhCBARIsAOdt45bZzGvT9VfWPrOLTG7lt2-FbvNydmpbU1TLXDVkHCZO3O7ckSP4TBYaAldAEALw_wcB">RFID</a>

    <br>
    <a href="https://www.sourcengine.com/part-info/CC2640R2LRGZR-145206321368?utm_source=audiencex&utm_medium=paidsearch&utm_campaign=shopping&gclid=Cj0KCQjwvqeUBhCBARIsAOdt45Y4wDBaJHkUF8E7Q4qHC2m_XzrwO-qdX9elZtlmkFFuan9aAI8sawwaAhbsEALw_wcB">WiFi</a>
    <br>
    <a href="https://www.cloudtask.com/blog/how-much-does-it-cost-to-outsource-a-call-center">Customer Service outsourcing reference</a>
    <br>
    <a href="https://www.servermania.com/kb/articles/how-much-does-a-server-cost-for-a-small-business/">Server fee cost reference</a>
    <br>
    <a href="https://smallbusiness.chron.com/much-cost-advertise-business-66152.html">Advertising reference</a>

    <br>
    <br>



    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>