<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title> Pill Care's KVP</title>
    <meta name="author" content="Shixuan">
    <meta name="description" content="Project description">

    <link rel="stylesheet" type="text/css" href="css/agile.css">
</head>

<section id="site-banner" class="site-banner center">


    <img src="/image/logo.png" alt="Site Logo" style="
    max-width: 20%;
  height: auto;
    border: solid 1px #CCC" />

    <!-- /.site-logo -->
    <!-- /.container -->
</section>
<!-- /#site-banner -->

<body>
    <div class="topnav">
        <div class="tooltip">
            <a href="home">Home</a>
            <span class="tooltiptext">Visit home page</span>
        </div>
        <div class="tooltip">
            <a href="product">Product </a>
            <span class="tooltiptext">Visit Product page</span>
        </div>
        <div class="tooltip">
            <a class="active" href="kvp">KVP</a>
            <span class="tooltiptext">Visit KVP page</span>
        </div>
    </div>

    <div class='hero center'>

        <h2>Laws of UI Design and examples</h2>


    </div>
    <br>

    <br>
    <br>





    <h4 class='center'>Hick's Law</h4>
    <br>
    <div class='smaller margin'>&nbsp;&nbsp; For the complex user interface that are confusing and take lots of time invested into learning how to use, the first UI comes to my mind is the UI for the plane. There are numerous buttons and windows for different readings. The poilt
        needs to pay close attention to each reading and be careful about each button to make sure one will not press the wrong one and threaten the lives of the passengers.

    </div>

    <img src="/image/complex-ui.jpg">
    <img src="/image/complex-ui2.jpg">



    <br>
    <hr style="border-style: dotted;" />

    <br>

    <h4 class='center'>Jacob's Law</h4>
    <br>
    <div class='smaller margin'>&nbsp;&nbsp;When I try to switch between Mac operating system and Windows operating system, I notice the similarity in their setting window. There are options with similar names and layout, such as same position of the account, Notification, Languages
        and other options.
    </div>
    <div class='content-box'>
        <img src="/image/windows-interface.png">
        <img src="/image/mac-interface.jpg">
    </div>


    <br>
    <hr style="border-style: dotted;" />

    <br>
    <h4 class='center'>Law of Proximity</h4>
    <br>
    <div class='smaller'>&nbsp;&nbsp;In the Google Docs, I notice the options closed together ususally serves similar purposes. The options for different alignemnts are closed together. Also, under the Format tab, different modifications to our page format can be found here,
        such as spacing and bullets numbering.

    </div>
    <img src="/image/proximity.jpg">
    <br>
    <hr style="border-style: dotted;" />

    <br>
    <h4 class='center'>Millers Law</h4>
    <br>
    <div class='smaller'>&nbsp;&nbsp;In the Google or any other web browsers, I notice that we can bookmark the useful pages so that it will create shortcut on the top and we can click that to access that webpage with ease. As people are forgetable, bookmarking useful websites,
        such as the wesbite of the scientific calculator or the interesting videoes you just watched, can remind people to revisit them at a later time.

    </div>
    <img src="/image/ChromeBookmark.png">

    <br>
    <br>




    <br>
    <br>
    <footer class='right'>
        <p>Author: Shixuan Wu</p>
        <p><a href="mailto:shw003@ucsd.edu">shw003@ucsd.edu</a></p>
    </footer>
    <br>
    <br>
</body>

</html>